<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder Contents</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    
</head>
<body>
    <a href="{{ url_for('contributor') }}" class="contributor-link">Contributors</a>


    <div class="container">
        <a href="https://wilted-cheerful-budget.anvil.app" class="link" target="_blank">Click To Visit Site To Add Practical Activity</a>
        <h1>Files in the Folder</h1>

        <ul>
            {% for item in files_structure %}
                {% if item.type == 'folder' %}
                    <li class="folder" onclick="toggleFolder('{{ item.name }}')">
                        <strong>{{ item.name }}/</strong>
                        <ul id="folder-{{ item.name }}" style="display: none;">
                            {% for sub_item in item.content %}
                                <li>
                                    {% if sub_item.type == 'folder' %}
                                        <strong>{{ sub_item.name }}/</strong>
                                    {% else %}
                                        <a href="{{ url_for('download_file', filename=item.name + '/' + sub_item.name) }}">{{ sub_item.name }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('download_file', filename=item.name) }}">{{ item.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="footer">
            &copy; 2024 All rights reserved by Adarsh
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
